.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.update {
    width: 100%;
    justify-content: center;
    max-width: 400px;
    border: 1px solid #458FF6;
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
}

.auth__success {
    padding: 10px 0;
    background-color: hsl(147, 79%, 87%);
    margin-bottom: 20px;
}

.auth__error {
    padding: 10px 0;
    background-color: hsl(210, 9%, 77%);
    border: 1px solid #458FF6;
    margin-bottom: 20px;
}

.update form>input, button{
    height: 40px;
    font-size: 16px;
    background-color: hsl(213, 19%, 88%);
    border: 1px solid #458FF6;
    padding: 0 10px;
}

